@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';
@import '@fontsource/atkinson-hyperlegible';

:root {
	--font-system-ui: 'Atkinson Hyperlegible', sans-serif;
	--bg-clr: oklch(24% 0.02 272);
}

body {
	display: grid;
	place-content: center;
	background-color: var(--bg-clr);
}
